<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Page not found</title>
    <link
      rel='icon'
      href='https://ik.imagekit.io/zv6i24c6s3s/favicon_r1Njk1ngG.png?updatedAt=1628935462371'
      type='image/webp'
    />
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body>
    <lottie-player
      src='https://assets1.lottiefiles.com/packages/lf20_aaesnvcw.json'
      mode='bounce'
      background='transparent'
      speed='1'
      style='width: 100vw; height: 75vh;'
      loop
      autoplay
    ></lottie-player>

    <script
      defer
      src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'
    ></script>

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src='https://static.cloudflareinsights.com/beacon.min.js'
      data-cf-beacon='{"token": "dd330abee9a24f5a9090cccd35df1e39"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>