<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="icon" href="images/favicon.png" type="image/png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_aaesnvcw.json" mode="bounce" background="transparent"  speed="1"  style="width: 100vw; height: 100vh;"  loop  autoplay></lottie-player>

    <script defer src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>